.header{
    display: flex;
    margin-left: 500px;
    margin-top: 100px;
    border: 2px solid gray;
    box-shadow: 3px 3px 20px 3px #f0c7af;
    border-radius: 5px;
    width: 700px;
    height: 500px;
  }

  
  .formRegister form{
    width: 600px;
    margin-top: 70px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color: burlywood;
    font-weight: bold;
    font-style: italic;

    border-radius: 2px;
  }
  
  .formRegister input{
    margin-top: 20px;  
    width: 150px;
    font-weight: bold;
  }
 #button{
    margin-top: 20px;
    margin-left: 180px;
    width: 170px;
    height: 40px;
  
    background-color: #f5d8a9;
    color: rgb(143, 113, 68);
    font-style: italic;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px #888888;
  }
  