.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
  display: flex;
}

.header img{
  margin-left: 270px;
  margin-top: 12px;
  width: 700px;
  height: 730px;
  border-radius: 8px;
}

.buttons{
  width: 500px;
  margin-top: 280px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  font-size: 80px;
  color: burlywood;
  font-weight: bold;
  font-style: italic;
}

.buttons button{
  margin-top: 20px;
  margin-left: 180px;
  width: 170px;
  height: 40px;

  background-color: #f5d8a9;
  color: rgb(143, 113, 68);
  font-style: italic;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 5px 10px #888888;
}
