.formTodo{
    /* margin-bottom: 1%; */
    border-bottom-style: dashed;
    border-color: rgb(167, 163, 163);
}
.user{
    display: flex;
    margin-top: 10%;
}
.user img{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 2%;
    width: 3vw;
    height: 4vh;
    margin-top: -20%;
    margin-left: 60%;
}
  #name{
    font-size: 150%;
    color: rgb(243, 180, 204);
    font-weight: bold;
    font-style: italic;
    margin-left: 13%;
    margin-top: -2%;
    margin-bottom: -2%;
}

.todo{
    display: flex;
    margin-left: 17%;
    margin-top: 3%;
    color: rgb(168, 151, 151);
    
}

.item{
    margin-right: 13%;
}

button{
    margin-left: 8%;
    margin-top: 12%;
    color: rgb(167, 163, 163); 
    background-color: rgb(255, 215, 221);
    border-radius: 1px solid black;
    box-shadow: 5px 10px #e9dfdf;
    font-weight: bold;
}

.newTodo{
    margin-left: 17%;
    margin-top: -4%;
    color: rgb(168, 151, 151);
    margin-bottom: 10%;
}

.newTodo button{
    margin-left: 8%;
    margin-top: 12%;
    color: rgb(167, 163, 163); 
    background-color: rgb(255, 215, 221);
    border-radius: 5px solid black;
    box-shadow: 5px 10px #e9dfdf;
    font-weight: bold;
}
  


  