#title{
    margin-top: 5%;
    margin-left: 15%;
    font-size: 300%;
    color: burlywood;
    font-weight: bold;
    font-style: italic;
  }

  .headerTodo{
    display: flex;
    flex-direction: column;
    margin-left: 26%;
    margin-top: 4%;
    border: 2px solid gray;
    box-shadow: 3px 3px 20px 3px #f0c7af;
    border-radius: 5px;
    width: 45%;
    height: 70vh; 
  }
.user{
    display: flex;
}
.user img{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
    margin-top: -3%;
    margin-left: 20%;
}
  #name{
    font-size: 150%;
    color: rgb(243, 180, 204);
    font-weight: bold;
    font-style: italic;
    margin-left: 13%;
    margin-top: -2%;
    margin-bottom: -2%;
}

.todo{
    display: flex;
    margin-left: 17%;
    margin-top: 4%;
    color: rgb(168, 151, 151);
    
}

.item{
    margin-right: 13%;
}

.item button{
    margin-left: 8%;
    margin-top: 12%;
    color: rgb(167, 163, 163); 
    background-color: rgb(255, 215, 221);
    border-radius: 1px solid black;
    box-shadow: 5px 10px #e9dfdf;
    font-weight: bold;
}

.newTodo{
    margin-left: 17%;
    margin-top: -4%;
    color: rgb(168, 151, 151);
}

.newTodo button{
    margin-left: 8%;
    margin-top: 12%;
    color: rgb(167, 163, 163); 
    background-color: rgb(255, 215, 221);
    border-radius: 5px solid black;
    box-shadow: 5px 10px #e9dfdf;
    font-weight: bold;
}
  


  