.header{
    display: flex;
  }
  
  .header img{
    margin-left: 270px;
    margin-top: 12px;
    width: 700px;
    height: 730px;
    border-radius: 8px;
  }
  
  .buttons{
    width: 500px;
    margin-top: 280px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    font-size: 80px;
    color: burlywood;
    font-weight: bold;
    font-style: italic;
  }
  
  .buttons button{
    margin-top: 20px;
    margin-left: 180px;
    width: 170px;
    height: 40px;
  
    background-color: #f5d8a9;
    color: rgb(143, 113, 68);
    font-style: italic;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px #888888;
  }
  